Обнуление
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-family:inherit;font-weight: 400;}

body{
    font-family: 'Open Sans', sans-serif;
    background:#fff;
}
.header{
    width: 100%;
    height:auto;
    background: url('../images/header-bg.svg') 0 0/cover no-repeat;
}

.title{
    font-family: 'Banny Round', sans-serif;
    text-transform: uppercase;
    font-size: 96px;
}

.navbar-expand-lg .navbar-nav .nav-link{
    padding: 41px 55px 41px 0;

    color:#fff;
    font-family: 'Open Sans', sans-serif;
    font-size:12px;
    font-weight: 900;
    text-align: left;
    align-items: middle;
    text-transform: uppercase;
    }
.navbar.right{
    text-align: right;
}


/*Vector*/
.vector{
    margin-top: -75px;
    text-align: center;
}

/* Intro*/
.intro{
    text-align: center;
}

.text__intro{
    text-align: center;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    -webkit-writing-mode:vertical-rl;
    transform: rotate(180deg);
}

.header__text{
    margin-top: 151px;
    color: #fff;
    text-align: center;
}
.sup_text{
    text-transform: uppercase;
    font-size:12px;
    font-weight: 700;
    letter-spacing: 0.5em;
}
.header__title{
    font-family: 'Banny';
    font-size: 96px;
    font-weight: bold;
    text-transform: uppercase;
}

.header__title::after{
    display: block;
    margin: 0 auto;
    content:'';
    width:60px ;
    height: 5px;
    border-radius: 5px;
    background:#e8c300;
}

/*button*/

.button__header{
    text-align: center;
}
.btn__colored,.btn__outline{
    color: #fff;
    width: 200px;
    height: 60px;
    border-radius:5px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin: 30px 20px;
}
/* Social buttons*/
.social__btns{
    -webkit-writing-mode:vertical-rl;
    text-align: center;
    }
.btn{
    color:#fff;
    display: table-cell;
    height: 60px;
    width: 60px;
    vertical-align: middle;
    text-align: center;
    border:1px solid rgba(255, 255, 255, 0.2);
    border-radius:50%;
}

.btn__down{
    margin:72px auto 93px;
    text-align: center;
    background:#fff;
    height: 40px;
    width: 40px;
    border:1px solid rgba(255, 255, 255, 0.2);
    border-radius:50%;
    }
.fa-chevron-down{
        color:#333;
}

/* About us*/
.wrap{
    padding:100px 0;
}

.info__section{
    text-align: center;
    padding:100px 20px;
    }
.title__section{
    font-family: 'Banny Round', sans-serif;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 48px;
}
.title__section::after{
    display: block;
    margin: 10px auto 20px;
    background: #e8c300;
    content:'';
    width:60px;
    height: 5px;
    border-radius: 5px;
}
.text__section{
    font-size: 14px;
    line-height: 24px;
}
.text__sup{
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
}
.group__image{
    text-align: center;
    position: relative;
}
.info_img{
    box-shadow:0 0 50px rgba(0,0,0,0.5);
    border-radius:5px;
}
.frame__img{
    width: 200px;
    height: 200px;
    border:20px solid #e8c300;
    border-radius:5px;

    position: absolute;
    left:67%;
    top:25%;
}
/* Mastershef*/

.name__section{
    width: 100%;
    height: 100px;
    text-align: center;
    }

.title__team{
    color:#fff;
    font-size: 12px;
    margin: 0 auto;
    letter-spacing: 6px;
    text-transform: uppercase;
    font-weight: 700;
}

.masterchef{
    background:url('/images/mastershef.jpg') 50% 50%/cover no-repeat;
}
.team{
    color: #fff;
}
.left{
    margin: 15px;
    position: absolute;
    left: 4%;
    top: 25%;
}
.img__left{
    text-align: center;
}
/* Book a table*/

.book__table{
    padding-top: 45px;
}
.form__input input{
    width:250px;
    height: 60px;
    background:#e5e5e5;
    color:#333;
    font-size: 14px;
    font-weight: 400;
    border: none;
    border-radius:5px;

    padding: 20px;
    margin-bottom: 10px;
}
.form__input:first-child{
    margin-right: 5px;
}
.form__input:last-child{
    margin-left: 5px;
}
.button__book{
    background:#e8c300;
    color:#fff;
    width:510px;
    height: 60px;
    border-radius:5px;
    border:none;

    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    transition: all .3s linear;
    
}
.button__book:hover{
    opacity:.5;
    color: #333;
}
.arrow{
    position: relative;
}
.fa-angle-down{
    color:rgba(51,51,51,50%);

    position: absolute;
    top: 25%;
    left: 85%;
}
.info__order{
    font-size: 12px;    
}
.tel{
    color:#333;
}
/* Specialties*/
.specialties{
    background:url('/images/specialties.jpg') 50% 50%/cover no-repeat;

}
.dot{
    width:10px;
    height: 10px;
    border-radius: 50%;
    background:rgba(255,255,255,.5);
    margin: 20px;
}
.dot.active{
    background:#fff;
}

/* menu*/
.sub__menu{
    margin:50px 0;
    text-align: center;
}
.list__menu{
    display: table-cell;
    color: #333;
    margin: 0 auto;
    width: 120px;
    height: 50px;
    vertical-align: middle;
    font-size:12px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 18px;
    text-align: center;
    
}
.sub__menu li{
    border-right: 1px solid rgba(51,51,51,0.2);
}
.sub__menu li:last-child{
    border-right: none;
}
.group__menu{
    margin: 0 40px;
}
.order__block{
    color:#333;
    margin-bottom: 30px;
}
.order__name{
    font-family: 'Banny Round', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
}
.specification{
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
}

/* Private events*/
.private__events{
    background: url('/images/private.jpg') 50% 50%/cover no-repeat;
}
.for__private{
    color: rgba(255,255,255,0.7);
}
.tel__order{
    color: rgba(255,255,255,0.7);
}
.image__private{
    position: relative;
    text-align: right;
}
.left__private{
    left: 20%;
    top: 25%;
}
.name__image{
    width: 80px;
    height: 471px;
    padding: 35px;
    text-align: left;
    color:#fff;
    writing-mode:vertical-rl;
    background:#000;

    font-family: 'Banny Round', sans-serif;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 12px;
    font-weight: 700;

    position: absolute;
    left: 88%;
    top: 0;
}
.image__corporate{
    position: relative;

}
.right{
    writing-mode: vertical-rl;
    transform: rotate(180deg);

    position: absolute;
    top: 0;
    left: 2%;
    z-index: 2;
}
.img__right{
    text-align: left;
}
.right_private{
    position: absolute;
    top: 25%;
    left: 53%;
}
/* group galerie*/
.galerie{
    min-height: 360px;
}
.galerie_1{
    background:url('/images/galerie/galerie_1.jpg') 0 0/cover no-repeat;
}
.galerie_2{
    background:url('/images/galerie/galerie_2.jpg') 0 0/cover no-repeat;
}
.galerie_3{
    background:url('/images/galerie/galerie_3.jpg') 0 0/cover no-repeat;
}
.galerie_4{
    background:url('/images/galerie/galerie_4.jpg') 0 0/cover no-repeat;
}

/* Contact*/
.form__input.contact{
    width: 100%;
    margin: 50px 20px 0;
}

.input__contact input{
    width: 95%;
    margin-right:20px;
}
.input__contact input[type='tel']{
    width: 100%;
}

.textarea__message textarea{
    width: 100%;
    background:#e5e5e5;
    color:#333;
    font-size: 14px;
    font-weight: 400;
    border: none;
    border-radius:5px;
    padding: 20px;
    margin-bottom: 10px;
}
.address{
    text-align: center;
}
.address__contact{
    font-size: 12px;
    font-weight: 700;
}
.fa-map-marker-alt{
    color:#e8c300;
}
.button__contact{

    background:#e8c300;
    color:#fff;
    border-radius: 5px;
    border:none;
    font-size:12px;
    font-weight: 700;
    text-transform: uppercase;
}
/* map*/

.section__map{
    width: 100%;
    min-height: 475px;
    background:url('/images/map.jpg') 0 0/cover no-repeat;
}
/*footer*/
.footer{
    width: 100%;
    min-height: 100px;
    background:rgba(0,0,0,0.9);
    flex-direction: column;
    align-items:center;
    
}
.text__footer{
    color: #fff;
}